
<link href="https://fonts.googleapis.com/css?family=Anton|Russo+One" rel="stylesheet">
<link rel="stylesheet" href="css/admin/country-builder.css">
<link rel="stylesheet" href="css/admin/country-editor.css">

<title>Admin</title>

</head>

<body>

    <nav>
        <ul>
            
            <li><a href="/"><span class="nav" id="home">Home</span></a></li>
            <li><span class="nav" id="builder">Country Builder</span></li>
            <li><span class="nav" id="country-editor">Country Editor</span></li>
            <li><span class="nav" id="user-editor">User Editor</span></li>
            
        </ul>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-12">

                        <div id="header-div">
                            <h1 id="admin-header">Admin Control Panel</h1>
                        </div>


                        <div id="country-builder-div">

                            <form action="/create" method="POST" id="country-builder">
                                
                                <label>What continent does the new Country belong to?</label>
                                    <select class="input" id="continent">
                                        {{#each continents}}
                                            <option value="{{continent}}">{{continent}}</option>
                                        {{/each}}
                                    </select>
                                
                                <label>What's the name of the Country?</label>
                                    <input class="input" type="text" id="country">
                                                                                                
                                <label>What's the best time of the year to visit the Country?</label>
                                    <input class="input" type="text" id="bty" placeholder="Best Time of Year">
                                
                                <label>Please provide a list of the Country's cultural foods.</label>
                                    <textarea class="input" id="foods"  rows="5" cols="50"></textarea>
                                
                                <label>What're the popular religions within the Country?</label>
                                    <textarea class="input" id="religions"  rows="5" cols="50"></textarea>
                                
                                <label>What's a brief description of the Country's history?</label>
                                    <textarea class="input" id="brief_history"  rows="5" cols="50"></textarea>
                                
                                <label>What're some facts of the Country?</label>
                                    <textarea class="input" id="facts"  rows="5" cols="50"></textarea>

                                <label>What're some fun facts of the Country?</label>
                                    <textarea class="input" id="fun_fact"  rows="5" cols="50"></textarea>

                                <input type="submit" id="country-submit" value="Submit">
                            </form>

                        </div>

                        <div id="country-editor-div">

                            <form id="country-selector">
                                
                                <label>Which continent will you be adding to?</label>
                                    <select id="editor-select">
                                        {{#each result}}
                                            <option name="{{country}}">{{country}}</option>
                                        {{/each}}
                                    </select>
                                
                                <input type="submit" value="Submit" id="country-selector-submit">

                            </form>

                            <form id="country-editor-form">
                                
                                <h1 id="country-insert"></h1>

                                <label>Best Time of Year to Visit</label>
                                    <textarea rows="5" cols="60" form="country-editor-form" id="bty"></textarea>

                                <label>Cultural Foods</label>
                                    <textarea rows="5" cols="60" form="country-editor-form" id="foods"></textarea>
                                
                                <label>What're the religions of the Country to be added?</label>
                                    <textarea rows="5" cols="60" form="country-editor-form" id="religions"></textarea>

                                <label>Brief history of the Country to be added.</label>
                                    <textarea rows="10" cols="60" form="country-editor-form" id="brief_history"></textarea>

                                <label>What're some facts of the Country to be added?</label>
                                    <textarea rows="7" cols="60" form="country-editor-form" id="facts"></textarea>

                                <label>What're some fun facts of the Country to be added?</label>
                                    <textarea rows="7" cols="60" form="country-editor-form" id="fun_fact"></textarea>

                                <input type="submit" value="Submit" id="country-editor-submit">

                            </form>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>

    <script src="js/admin/admin-control.js"></script>
</body>