<div class="parallax" style="background-image: url('img/london.jpg')">
    <div class="cityHeader">
        <h1>LONDON</h1>
    </div> 
</div>
<div class="info p-5" style="background-image: url('img/extra_clean_paper.png'">
    <p></p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis aliquid quaerat nobis laboriosam iusto corrupti! Exercitationem sit, sunt optio temporibus quae non aliquid minima. Aliquam dicta minima nihil dolores molestiae!</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum laboriosam saepe vel totam, voluptate praesentium culpa odit amet aperiam? Neque porro temporibus maiores similique laborum sapiente, in obcaecati aut quasi.</p>
</div>
<div class="parallax" style="background-image: url('img/paris.jpg')">
    <div class="cityHeader">
        <h1>PARIS</h1>
    </div> 
</div>
<div class="info p-5" style="background-image: url('img/extra_clean_paper.png'">
    <p></p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis aliquid quaerat nobis laboriosam iusto corrupti! Exercitationem sit, sunt optio temporibus quae non aliquid minima. Aliquam dicta minima nihil dolores molestiae!</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum laboriosam saepe vel totam, voluptate praesentium culpa odit amet aperiam? Neque porro temporibus maiores similique laborum sapiente, in obcaecati aut quasi.</p>
</div>
<div class="parallax" style="background-image: url('img/rome.jpg')">
    <div class="cityHeader">
        <h1>ROME</h1>
    </div> 
</div>
<div class="info p-5" style="background-image: url('img/extra_clean_paper.png'">
    <p></p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis aliquid quaerat nobis laboriosam iusto corrupti! Exercitationem sit, sunt optio temporibus quae non aliquid minima. Aliquam dicta minima nihil dolores molestiae!</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum laboriosam saepe vel totam, voluptate praesentium culpa odit amet aperiam? Neque porro temporibus maiores similique laborum sapiente, in obcaecati aut quasi.</p>
</div>

