    <link rel="stylesheet" href="css/index.css">
    <title>World View</title>
</head>
<body>
    <object id="worldMapIndex" type="image/svg+xml" data="images/worldMap.svg" class="logo">
        The world!!!!
        <!-- fallback image in CSS -->
    </object>
</body>
</html>

<h1 id="clock" data-name="America/NewYork" data-tz="{{dataValues.timezone}}">{{dataValues.timezone}}</h1>

<script src="js/clock.js"></script>
<script src="js/admin.js"></script>