
body {
    background-image: url('../imgs/rids.png');
    background-size: cover;
}

nav {
    position: fixed;
    vertical-align: center;
    top: 30%;
    left: -2%;
}

nav li, span {
    list-style: none;
    color: white;
    font-weight: bold;
    padding: 5px 5px 5px 0px;
}

.nav:hover {
    cursor: pointer;
    text-shadow: 0px 0px 10px rgb(255, 185, 158);
}

#header-div {
    font-family: 'Anton', sans-serif;
    text-align: center;
    margin-top: 30px;
}

#city-div {
    display: none;
    background: rgb(0, 0, 0, 0.6);
    margin: 50px 0px;
    border-radius: 5px;
    padding: 20px;
}

#city-builder, .input, label, textarea, select {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
    color: white;
    border-radius: 5px;
}

#city-submit {
    color: black;
    font-weight: bold;
    background: lightblue;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}