#worldMapIndex {
    z-index: 1;
}
.modal {
    z-index: 3;
}
.modal-backdrop {
    height: 100%;
    width: 100%;
    z-index: 2;
}
body, html {
    min-height: 100vh!important;
    min-width: 100vw!important;
    background-color:#27849D;
  }
#footer {
    position: bottom;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#27849D;
    color: white;
    text-align: center;
    margin-top: 0%;
    

}
#mapHeader{
    position: absolute;
    top:0;
    width:100%;
    text-align: center;
    font-family: 'Fredericka the Great', cursive;
    /* font-weight: 900; */
    margin-top: 4px;
}
.columns {
    line-height: 15%;
}
a:link {
    color: #98C1D9 ;
}

/* A link that has been visited */
a:visited {
    color: #252443;
}

/* A link that is hovered on */
a:hover {
    color: #E0FBFC;
}

/* A link that is selected */
a:active {
    color: #8E9AAF;
}

@media screen and (max-width:1440px){
    .headerMain {
        font-size: 40px;
        margin-bottom: 0;
    }
    .subtitle{
        font-size: 28px;
    }
}
@media screen and (max-width:1080px){
    .headerMain {
        font-size: 32px;
        margin-bottom: 0;
    }
    .subtitle{
        font-size: 22px;
    }
}
@media screen and (max-width:768px){
    .headerMain {
        font-size: 22px;
    }
    .subtitle{
        font-size: 17px;
    }
}
@media screen and (max-width:426px){
    .headerMain {
        font-size: 15px;
    }
    .subtitle{
        font-size: 10px;
    }
}


