
body {
    background-image: url('../../imgs/rids.png');
    background-size: cover;
}

nav {
    z-index: 1;
    position: fixed;
    vertical-align: center;
    top: 30%;
    left: -2%;
    list-style: none;
}

.nav {
    color: white;
    font-weight: bold;
    padding: 5px 5px 5px 0px;
}

.nav:hover {
    text-shadow: 0px 0px 10px rgb(255, 185, 158);
}

#header-div {
    font-family: 'Anton', sans-serif;
    text-align: center;
    margin-top: 30px;
}

#country-builder-div {
    /* display: none; */
    background: rgb(0, 0, 0, 0.6);
    margin: 50px 0px;
    border-radius: 5px;
    padding: 20px;
}

#country-builder label, textarea, select {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
    color: white;
    border-radius: 5px;
}

.input {
    display: block;
    color: black;
    border: none;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

#country-submit {
    display: block;
    margin: 0 auto;
    color: black;
    font-weight: bold;
    background: rgb(196, 196, 196);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}